sudo: required

env:

language: python

python:
  - 2.7

service:
  - postgresql

addons:
  postgresql: 9.5
  
before_install:
  - export PYTHONPATH=$HOME/builds/audaciouscode/pdk
  
install:
  - pip install -r requirements.txt

before_script:
  - psql -U postgres -c "create extension postgis"
  - psql -U postgres -c "CREATE DATABASE travisci;" 
  - psql -U postgres -c "CREATE EXTENSION postgis" -d travisci
  - psql -U postgres -c "CREATE EXTENSION postgis_topology" -d travisci

script:
  - cd ..
  - mv PassiveDataKit-Django passive_data_kit
  - mkdir django
  - cd django
  - django-admin.py startproject pdk
  - mv ../passive_data_kit pdk
  - cd pdk
  - cp passive_data_kit/travis_settings.py pdk/settings.py
  - python manage.py migrate
  - python manage.py test
  - cp passive_data_kit/.pylintrc .
  - pylint passive_data_kit
  - bandit -r .
