{% extends "pdk_base.html" %}
{% load static from staticfiles %}
{% load passive_data_kit %}

{% block sidebar %}
	<ul class="nav nav-sidebar">
		<li><a href="#alerts">Alerts <span class="badge pull-right">?</span></a></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li><label>TODO</label></li>
		<li><a href="#generators">Generators</a></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li><label>Actions</label></li>
		<li><a href="#add_source">Add Data Source</a></li>
	</ul>
{% endblock %}

{% block content %}
	<script data-main="{% static  'pdk/js/generator.js' %}" src="{% static 'pdk/js/lib/require.js' %}"></script>

	<div class="row">
		<div class="col-md-12">
			<h1 class="sub-header">{{ source.name }}: {% generator_name generator_label %}</h1> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3 class="sub-header">History</h1> 
		</div>
	</div>

	{% if visualization %}
		{{ visualization }}
	{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">No visualization template available for {{ generator }}&#8230;</div>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<h3 class="sub-header" style="margin-top: 1em;">Logged Values</h1> 
		</div>
	</div>

	{% if data_table %}
		{{ data_table }}
	{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">No data table available for {{ generator }}&#8230;</div>
			</div>
		</div>
	{% endif %}
{% endblock %}