{% extends "pdk_base.html" %}
{% load static %}
{% load passive_data_kit %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="#alerts">Alerts <span class="badge pull-right">?</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><label>TODO</label></li>
        <li><a href="#generators">Generators</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><label>Actions</label></li>
        <li><a href="#add_source">Add Data Source</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="sub-header">Export Data</h1> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Please select the relevant users and data generators to export.
                Passive Data Kit will compile the requested data and e-mail you a download link.
            </p>
        </div>
    </div>
    
    {% if message != '' %}
        <div class="row">
            <div class="col-md-12">
                {% if message_type == 'ok' %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% else %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <form action="{% url 'pdk_export' %}" id="export_form" method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-4">
                <h3>Sources</h3>
                
                <p>
                    <input type="checkbox" id="sources_select_all">&nbsp;&nbsp;Select All Sources
                </p>
                
                <div class="well" style="height: 40em; overflow-y: scroll; background-color: #ffffff;">
                    {% for group in groups %}
                    	{% if forloop.counter0 > 0 %}
                    		<div style="height: 1em;">&nbsp;</div>
                    	{% endif %}
						<p style="padding-bottom: 0.25em; margin: 0px;">
							<input type="checkbox" name="group_{{ group.2 }}" id="group_{{ group.2 }}" class="group_select_members" /> 
							<label for="group_{{ group.2 }}" style="font-weight: normal; normal; padding-left: 5px;"><strong>{{ group.0 }}</strong></label>
						</p>

                    	{% for source in group.1 %}
							<p style="padding-bottom: 0.25em; margin: 0px;">
								<input type="checkbox" name="source_{{ source.identifier }}" id="source_{{ source.identifier }}" class="source_checkbox group_{{ group.2 }}" /> 
								<label for="source_{{ source.identifier }}" style="font-weight: normal; normal; padding-left: 5px;">{{ source }}</label>
							</p>
						{% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <h3>Data Generators</h3>
                <p>
                    <input type="checkbox" id="generators_select_all">&nbsp;&nbsp;Select All Generators
                </p>
                
                <div class="well" style="height: 40em; overflow-y: scroll; background-color: #ffffff;">
                    {% if extra_generators %}
	                	<p><strong>Special Generators</strong></p>
	                	
						{% for generator in extra_generators %}
							<p style="padding-bottom: 0.25em; margin: 0px;">
								<input type="checkbox" name="generator_{{ generator.0 }}" id="generator_{{ generator.0 }}" class="generator_checkbox" /> 
								<label for="generator_{{ generator.0 }}" style="font-weight: normal; padding-left: 5px;">{{ generator.1 }} ({{ generator.0 }})</label>
							</p>
						{% endfor %}
						<br />
                    {% endif %}
                	<p><strong>Standard Generators</strong></p>
                    {% for generator in generators %}
                        <p style="padding-bottom: 0.25em; margin: 0px; overflow: hidden; text-overflow: clip; white-space: nowrap;">
                        	<input type="checkbox" name="generator_{{ generator }}" id="generator_{{ generator }}" class="generator_checkbox" /> 
                        	<label for="generator_{{ generator }}" style="font-weight: normal; padding-left: 5px;">{% generator_name generator %} ({{ generator }})</label>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" id="data_start" name="data_start" placeholder="Start Date (Optional)">
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="date_type" id="date_type_created" value="created" checked>
						Created
					</label>
				</div>
            </div>
            <div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" id="data_end" name="data_end" placeholder="End Date (Optional)">
				</div>

				<div class="radio">
					<label>
						<input type="radio" name="date_type" id="date_type_recorded" value="recorded">
						Recorded
					</label>
				</div>
            </div>
            <div class="col-md-3">
				<p>
					<input type="checkbox" name="export_raw_json" />&nbsp;&nbsp;Export raw data as JSON
				</p>
            </div>
            <div class="col-md-3">
                  <button type="submit" class="btn btn-default pull-right">Export Data</button>
            </div>
        </div>
        
        <div class>
    </form>
            
    <script data-main="{% static  'pdk/js/export.js' %}" src="{% static 'pdk/js/lib/require.js' %}"></script>
{% endblock %}