<div id="chart_container">
	<div id="accelerometer-chart" style="display: inline-block; height: 240px; background-color: #000000; width: 100%;"></div>
</div>

<script>
	window.showVisualization = function() {
		var xs = [];
		var ys = [];
		var zs = [];
		
		{% for value in values %}
			xs.push({ x: {{ value.ts }}, y: {{ value.x_mean }} });
			ys.push({ x: {{ value.ts }}, y: {{ value.y_mean }} });
			zs.push({ x: {{ value.ts }}, y: {{ value.z_mean }} });
		{% endfor %}
		
		var graph = new Rickshaw.Graph({
			element: document.querySelector("#accelerometer-chart"), 
			renderer: 'multi',
			interpolation: 'linear',
			series: [{
				name: 'X',
				color: '#66BB6A',
				renderer: 'line',
				data: xs
			}, {
				name: 'Y',
				color: '#42A5F5',
				renderer: 'line',
				data: ys
			}, {
				name: 'Z',
				color: '#EF5350',
				renderer: 'line',
				data: zs
			}],
			min: -12,
			max: 12
		});

		var yTicks = new Rickshaw.Graph.Axis.Y( {
			graph: graph,
			tickFormat: Rickshaw.Fixtures.Number.formatKMBT
		});

		graph.render();

		var xAxis = new Rickshaw.Graph.Axis.Time( {
			graph: graph,
			timeFixture: new Rickshaw.Fixtures.Time.Local()
		});
		
		xAxis.render();

		var hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: graph,
			formatter: function(series, x, y) {
				var date = '<span class="date">' + new Date(x * 1000).toString() + '</span>';
				var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
				var content = swatch + series.name + " Mean: " + y.toFixed(2) + ' m/s<sup>2</sup><br>' + date;
				return content;
			}
		});
				
		$(".x_tick .title").css("color", "white");
		$(".y_ticks text").css("fill", "white");

		$(".y_grid line").css("stroke", "rgba(128, 128, 128, 1.0)");
		$("path.path").css("stroke-width", "1");
	};
</script>
