{% load passive_data_kit %}

<h6>Creation Frequency</h6>
<div id="pdk-data-frequency-chart" style="border: #EDEEED solid 1px;"></div>

<h6 style="margin-top: 2em;">Transmission Frequency</h6>
<div id="pdk-data-recorded-frequency-chart" style="border: #EDEEED solid 1px;"></div>

<p class="text-right text-small">Last Updated: <em>{{ updated }}</em></p>

<script>
	window.showVisualization = function() {
		var data = [];

		var max = Number.MIN_VALUE;
	
		{% for key in data.keys %}
			data.push({
				'x': {{ key }},
				'y': ({{ data|get_item:key }} + 1)
			});

			max = Math.max(max, ({{ data|get_item:key }} + 1));
		{% endfor %}

		var logScale = d3.scale.log().domain([1, max]);

		var graph = new Rickshaw.Graph( {
			element: document.querySelector("#pdk-data-frequency-chart"), 
			height: 200, 
			renderer: 'line',
			series: [{
				name: 'Data Points',
				color: 'steelblue',
				data: data,
				scale: logScale
			}]
		});

		var ticksTreatment = 'glow';

		var yTicks = new Rickshaw.Graph.Axis.Y.Scaled( {
			graph: graph,
			ticksTreatment: ticksTreatment,
			tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
			tickValues: [1, 10, 100, 1000, 10000, 100000], // values to use/display
			scale: logScale
		});

		graph.render();

		var xAxis = new Rickshaw.Graph.Axis.Time( {
			graph: graph,
			ticksTreatment: ticksTreatment,
			timeFixture: new Rickshaw.Fixtures.Time.Local()
		});
		
		xAxis.render();

		var hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: graph,
			xFormatter: function(x) {
				var momentDate = moment(x * 1000);
				
				return momentDate.format('LLL');
			},
			formatter: function(series, x, y) {
				var momentDate = moment(x * 1000);
				
				var date = '<span class="date">' + momentDate.format('LLL') + '</span>';
				var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
				var content = swatch + series.name + ": " + parseInt(y - 1) + '<br>' + date;
				return content;
			}
		});

		var recorded_data = [];

		max = Number.MIN_VALUE;
	
		{% for key in recorded.keys %}
			recorded_data.push({
				'x': {{ key }},
				'y': ({{ recorded|get_item:key }} + 1)
			});

			max = Math.max(max, ({{ recorded|get_item:key }} + 1));
		{% endfor %}
		
		logScale = d3.scale.log().domain([1, max]);

		var recorded_graph = new Rickshaw.Graph( {
			element: document.querySelector("#pdk-data-recorded-frequency-chart"), 
			height: 200, 
			renderer: 'line',
			series: [{
				name: 'Data Points',
				color: '#808080',
				data: recorded_data,
				scale: logScale
			}]
		});

		yTicks = new Rickshaw.Graph.Axis.Y.Scaled( {
			graph: recorded_graph,
			ticksTreatment: ticksTreatment,
			tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
			tickValues: [1, 10, 100, 1000, 10000, 100000], // values to use/display
			scale: logScale
		});

		recorded_graph.render();

		xAxis = new Rickshaw.Graph.Axis.Time( {
			graph: recorded_graph,
			ticksTreatment: ticksTreatment,
			timeFixture: new Rickshaw.Fixtures.Time.Local()
		});
		
		xAxis.render();

		hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: recorded_graph,
			xFormatter: function(x) {
				var momentDate = moment(x * 1000);
				
				return momentDate.format('LLL');
			},
			formatter: function(series, x, y) {
				var momentDate = moment(x * 1000);
				
				var date = '<span class="date">' + momentDate.format('LLL') + '</span>';
				var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
				var content = swatch + series.name + ": " + parseInt(y - 1) + '<br>' + date;
				return content;
			}
		});
	}
</script>
