{% extends "pdk_base.html" %}
{% load static %}
{% load passive_data_kit %}

{% block sidebar %}
	<ul class="nav nav-sidebar">
		<li>
			<label>
				<a href="{% url 'pdk_source' source.identifier %}">
					<span class="glyphicon glyphicon-chevron-left"></span>
					{{ source.name }}
				</a>
			</label>
		</li>
	</ul>
	<ul class="nav nav-sidebar">
		<li><label>Generators</label></li>

		{% for generator in source.generator_statistics %}
			<li>
				<a href="{% url 'pdk_source_generator' generator.source generator.identifier %}">{% generator_name generator.label %}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	<script data-main="{% static  'pdk/js/generator.js' %}" src="{% static 'pdk/js/lib/require.js' %}"></script>

	<div class="row">
		<div class="col-md-12">
			<h1 class="sub-header">{{ source.name }}: {% generator_name generator_label %}</h1> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3 class="sub-header">History</h1> 
		</div>
	</div>

	{% if visualization %}
		{{ visualization }}
	{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">No visualization template available for {{ generator }}&#8230;</div>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<h3 class="sub-header" style="margin-top: 1em;">Logged Values</h1> 
		</div>
	</div>

	{% if data_table %}
		{{ data_table }}
	{% else %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">No data table available for {{ generator }}&#8230;</div>
			</div>
		</div>
	{% endif %}
{% endblock %}