<table id="phone_calls_values_table" class="table-striped" data-toggle="table" data-sort-name="created" data-sort-order="desc" data-pagination="true" data-search="true" style="z-index: 10; display: none;">
    <thead>
        <tr>
            <th data-sortable="true" data-field="created">Created</th>
            <th data-sortable="true">Type</th>
            <th data-sortable="true">Duration (Seconds)</th>
            <th data-sortable="true">Is New</th>
        </tr>
    </thead>
    <tbody>
        {% for row in values %}
        	{% with props=row.fetch_properties %}
				<tr>
					<td>
						<span style="display: none;">
							{{ row.created.isoformat }}
						</span>
						{{ row.created }}
					</td>
					<td>{{ props.type }}</td>
					<td>{{ props.duration }}</td>
					<td>{{ props.is_new }}</td>
				</tr>
			{% endwith %}
        {% endfor %}
    </tbody>
</table>
    
<script>
	window.showValues = function() {
		$("#phone_calls_values_table").show();
	};
</script>
