{% load static from staticfiles %}
{% load passive_data_kit %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Passive Data Kit</title>
		<link href="{% static 'pdk/css/lib/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'pdk/css/lib/bootstrap-theme.min.css' %}" rel="stylesheet" />
		<link href="{% static 'pdk/css/lib/bootstrap-table.css' %}" rel="stylesheet" />
		<link href="{% static 'pdk/css/lib/bootstrap-datepicker.css' %}" rel="stylesheet" />
		<link href="{% static 'pdk/css/lib/dashboard.css' %}" rel="stylesheet" />
		<link href="{% static 'pdk/css/lib/rickshaw.min.css' %}" rel="stylesheet" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'pdk/icons/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'pdk/icons/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'pdk/icons/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'pdk/icons/manifest.json' %}">
		<link rel="mask-icon" href="{% static 'pdk/icons/safari-pinned-tab.svg' %}" color="#01579b">
		<link rel="shortcut icon" href="{% static 'pdk/icons/favicon.ico' %}">

		<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>

		<meta name="msapplication-config" content="{% static 'pdk/icons/browserconfig.xml' %}">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background-image: none; background-color: #000000;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'pdk_home' %}" style="display: inline-block;">
						<!-- <img src="{% static 'pdk/icons/pdk-header-logo-40.png' %}" style="width: 40px; height: 40px; padding: 5px; margin-top: -13px; margin-bottom: -10px; margin-left: -10px; display: inline-block; background-color: #ffffff; border-radius: 10px;" /> -->
						<img src="{% static 'pdk/icons/pdk-header-logo-light-40.png' %}" style="width: 40px; height: 40px; padding: 5px; margin-top: -13px; margin-bottom: -10px; margin-left: -10px; display: inline-block;" /> 
						<span style="font-family: 'Play', sans-serif;">Passive Data Kit</span>
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						{% pdk_custom_nav_items %}
						<li><a href="{% url 'pdk_system_health' %}">System Health</a></li>
						<li><a href="{% url 'pdk_profile' %}">Profile</a></li>
						<li><a href="{% url 'pdk_export' %}">Export</a></li>
						<li><a href="{% url 'pdk_logout' %}">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					{% block sidebar %}
					
					{% endblock %}
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
