{% load passive_data_kit %}
<table class="group_table" data-toggle="table" data-pagination="true" data-search="true" style="z-index: 10;">
	<thead>
		<tr>
			<th data-sortable="true">Name</th>
			<th data-sortable="true">Identifier</th>
			<th data-sortable="true">User Agent</th>
			<th data-sortable="true">Latest</th>
			<th data-sortable="true">Points</th>
			<th data-sortable="true">Frequency</th>
			<th><center>Actions</center></th>
		</tr>
	</thead>
	<tbody>
		{% for source in sources.all %}
			<tr>
				<td>{{ source.name }}</td>
				<td><a href="{% url 'pdk_source' source.identifier %}">{{ source.identifier }}</a></td>
				<td>{{ source.latest_user_agent }}</td>
				<td>{% latest_point source %} ago</td>
				<td>{% point_count source %}</td>
				<td>{% point_hz source %}</td>
				<td>{% additional_home_actions source %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
