{% load passive_data_kit %}
<div id="group_toolbar_{{ group.pk }}"><h3 style="margin: 0px;"><a name="group_{{ group.pk }}"></a>{{ group.name }}</h3></div>
<table class="group_table" data-toolbar="#group_toolbar_{{ group.pk }}" data-toggle="table" data-pagination="true" data-search="true" style="z-index: 10;">
    <thead>
        <tr>
            <th data-sortable="true">Name</th>
            <th data-sortable="true">Identifier</th>
            <th data-sortable="true">User Agent</th>
            <th data-sortable="true">Latest</th>
            <th data-sortable="true">Last Check</th>
            <th data-sortable="true">Points</th>
            <th data-sortable="true">Frequency</th>
            <th><center>Actions</center></th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources.all %}
            {% if source.server %}
                <tr>
                    <td>{{ source.name }}</td>
                    <td><a href="{{ source.details_url }}">{{ source.identifier }}</a></td>
                    <td>{{ source.server.name }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{% additional_home_actions source %}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ source.name }}</td>
                    <td><a href="{{ source.details_url }}">{{ source.identifier }}</a></td>
                    <td>{{ source.latest_user_agent }}</td>
                    <td>{% latest_point source %} ago</td>
                    <td>
                        {% if source.performance_metadata_updated %}
                            <span style="display: none;">{{ source.performance_metadata_updated.isoformat }}</span>
                            {{ source.performance_metadata_updated }}
                        {% else %}
                            Never
                        {% endif %}
                    </td>
                    <td>{% point_count source %}</td>
                    <td>{% point_hz source %}</td>
                    <td>{% additional_home_actions source %}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<hr />


                
