{% load passive_data_kit %}
<table class="group_table" data-toggle="table" data-pagination="true" data-search="true" style="z-index: 10;">
	<thead>
		<tr>
			<th data-sortable="true">Generator</th>
			<th data-sortable="true">#</th>
			<th data-sortable="true">Last Recorded</th>
			<th data-sortable="true">Date Range</th>
			<th data-sortable="true">Frequency</th>
		</tr>
	</thead>
	<tbody>
		{% for generator in source.generator_statistics %}
			<tr>
				<td><a href="{% url 'pdk_source_generator' generator.source generator.identifier %}">{{ generator.label }}</a></td>
				<td>{{ generator.points_count }}</td>
				<td>{{ generator.last_recorded }}</td>
				<td>
					{% if generator.first_created.date == generator.last_created.date %}				
						{{ generator.first_created.date }}
					{% else %}
						{{ generator.first_created.date }} - {{ generator.last_created.date }}
					{% endif %}
				</td>
				<td>{% to_hz generator.frequency %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
