SHELL=/bin/bash

* * * * *    root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_process_bundles >> /var/log/cron.log 2>&1
0 3 * * *    root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_clear_processed_bundles >> /var/log/cron.log 2>&1
*/15 * * * * root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_update_server_health >> /var/log/cron.log 2>&1
* * * * *    root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_compile_reports >> /var/log/cron.log 2>&1
*/5 * * * *  root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_update_performance_metadata >> /var/log/cron.log 2>&1
*/5 * * * *  root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_compile_visualizations >> /var/log/cron.log 2>&1
*/5 * * * *  root   source /app/venv/bin/activate && python3 /app/live_site/manage.py pdk_run_status_checks >> /var/log/cron.log 2>&1
