{% load passive_data_kit %}
<table id="time_of_day_values_table" class="table-striped" data-toggle="table" data-sort-name="created" data-sort-order="desc" data-pagination="true" style="z-index: 10; display: none;">
    <thead>
        <tr>
            <th data-sortable="true" data-field="created">Created</th>
            <th data-sortable="true">Sunrise</th>
            <th data-sortable="true">Sunset</th>
            <th data-sortable="true">Is Day</th>
        </tr>
    </thead>
    <tbody>
        {% for value in values %}
			<tr>
				<td>
					<span style="display: none;">
						{{ value.created.isoformat }}
					</span>
					{{ value.created }}
				</td>

				<td>
					<span style="display: none;">
						{{ value.sunrise }}
					</span>
					{{ value.sunrise|to_datetime }}
				</td>

				<td>
					<span style="display: none;">
						{{ value.sunset }}
					</span>
					{{ value.sunset|to_datetime }}
				</td>

				<td>
					{{ value.is_day }}
				</td>
			</tr>
        {% endfor %}
    </tbody>
</table>
    
<script>
	window.showValues = function() {
		$("#time_of_day_values_table").show();
	};
</script>
